
body{
    font-family: sans-serif;
}


/**
 * Images a now responsive
 */
 img {
	max-width: 100%;
	height: auto;
    border-radius: 20PX;
}


a{
    text-decoration: none;
    color: #f9faf8;
    font: 24px;
    
}

/**
 * Limit the container in
 * width for big screens
 */
.header-container {
	height: 150px;
	max-width: 100%;
	padding: 10px;
	margin: 0 auto;
    /* border: solid 3px yellow; */
    background-color: #1f2937;
    

}

/**
 * By using display: flex
 * Logo and nav are in 2 cols
 * align-items make them
 * vertically centered
 * justify-content distribute
 * horizontal spaces around
 * and flex-wrap break the
 * things in two lines in
 * small screens
 */
.header .header-container {
	display: flex;
	/* align-items: ; */
	justify-content: space-around;
	flex-wrap: wrap;
}

/**
 * The followings are to
 * make things more
 * clean and airy
 * and contents centered
 */
.main-nav ul {
	margin: 1em 0 .5em;
	text-align: center;
}
.main-nav li {
	display: inline;
}
.main-nav a {
	display: inline-block;
	padding: .5em 1.5em;
}

.hero-container{
    height: 300px;
    max-width: 100%;
    padding: 10px;
    margin: 0 auto;
    /* border: solid yellow 3px; */
    background-color: #1f2937;
}

.main-hero .hero-container{
    display: flex;
    flex-direction: column;
    
    
    
}



.hero{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    flex-wrap: wrap;
    margin-bottom: -10px;
    width: 300px;
    /* border: yellow solid 2px; */
}

.hero-subtext{
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 10px;
    width: 300px ;

    
}

.hero,
.hero-subtext{
    margin-left: 70px;
    margin-top: -10;
}

.button {
    display: inline-block;
    border-radius: 15px;
    background-color: #3882f6;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 10px;
    width: 100px;
    cursor: pointer;
    margin-left: 70px;
  }
  
  
  
  
  
  

/* .placeholder{
    display: flex;
    justify-content: end; 
    order: 0;
    margin-right: 100px;
    flex-wrap: wrap;
    
    
}     */


