body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 24px;
    color: #f9faf8;
    /* background-color: #1f2937; */
}

.logo{
    width: 200px;
    height: auto;
    margin-left: 80px;
    margin-top: 40px;
    opacity: 0.6; 
    border: #1f2937 2px solid;
    border-radius: 25px;
}

.links{
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
    margin-top: 40px;
}

a:link { text-decoration: none; color: #f9faf8; }
a:visited { text-decoration: none; }
a:hover { text-decoration:underline; }
a:active { text-decoration: none; }

.login,
.signup{
    margin-right: 20px;
    font-size: 40px;
    color: #f9faf8;
}

.header-container{
    display: flex;
    padding: 10px;
    height: 300px;
    justify-content: space-between;
    background-color: #1f2937;
}

.hero-text-container{
    display: flex;
    height: 600px;
    justify-content: space-between;
    flex-direction: row-reverse;
    background-color: #1f2937;
}

.hero-image{
    height: 400px;
    width: 800px;
    margin-right: 50px;
    border: #1f2937 2px solid;
    border-radius: 40px; 
}

.subheader{
    display: flex;
    flex-direction: column;
   
}
.hero-text{
    font-size: 48px;
    padding: 60px;
    margin-left: 60px;
    margin-top: 30px;
    font-weight: bolder;
    color: #f9faf8;
    
}

.hero-subtext{
    font-size: 35px;
    color: #e5e7eb;
    margin-left: 130px;
    margin-bottom: 50px;
    

}

.button {
    background-color: #3882f6; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration:none;
    display: inline-block;
    font-size: 34px;
    margin-left: 150px;
    margin-top: 20px;
    border-radius: 25px;
  }

  .main-title{
    color: #1f2937;
    margin-top: 50px;
    font-size: 36px;
    font-weight: bolder;
    padding: 30px;
    display: flex;
    justify-content: center;
}

  
.main-body-container{
    display: flex;
    justify-content: space-evenly;
    height: 150px;
    width:auto;
    
}

.info-items{
    display: flex;
    justify-content: space-evenly;
   
   
    
}

.info-items-boxes{
    display: flex;
    justify-content: space-evenly;

}

.box-one,
.box-two,
.box-three,
.box-four{
    border: #3882f6 solid 10px;
    margin: 40px;
    width: 200px;
    height: 200px;
    border-radius: 25px;
}

.item-one,
.item-two,
.item-three,
.item-four{
    color: black;
    margin: 40px;
    
    
    

}

.quote-container{
    display: flex;
    justify-content: center;
    height: 600px;
    background-color: #e5e7eb;
}

.quote{
    display: flex;
    justify-content: center;
    width: 600px;

}

.text{
    color: black;
    font-size: 40px;
    margin-top: 100px;
}

.quote-sayer{
    margin-top: 400px;
    color: black;
    font-weight: bolder;
    font-size: 40px;
}